In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
# Build a data frame with the portfolio tickers
tickers = ['MNKD', 'ACRX', 'ECYT']
portfolio_data = pd.DataFrame()
for tick in tickers:
    portfolio_data[tick] = wb.DataReader(tick, data_source="yahoo", start='2017-1-1')['Adj Close']

In [4]:
portfolio_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 204 entries, 2017-01-03 to 2017-10-23
Data columns (total 3 columns):
MNKD    204 non-null float64
ACRX    204 non-null float64
ECYT    204 non-null float64
dtypes: float64(3)
memory usage: 6.4 KB

In [5]:
portfolio_data.head()

            MNKD  ACRX  ECYT
Date
2017-01-03  3.15  2.55  2.61
2017-01-04  3.40  2.65  2.66
2017-01-05  3.30  2.65  2.57
2017-01-06  3.35  2.60  2.67
2017-01-09  3.15  2.55  2.61

In [6]:
portfolio_data.tail()

            MNKD  ACRX  ECYT
Date
2017-10-17  4.75  1.75  4.35
2017-10-18  4.13  1.75  4.91
2017-10-19  3.96  1.75  4.97
2017-10-20  4.11  2.00  5.19
2017-10-23  3.70  2.03  4.75